@{
    ViewData["Title"] = "About this project";
}
<h2>@ViewData["Title"]</h2>

<div class="jumbotron">   
<p>The aim of this project is to generate a unified dataset for Trusts to consider in configuring their Ulysses Safeguard incident management system.  </p>

<p>This dataset remains in draft stage as we commence the consultation process. It is recognised that trusts may opt not to adopt this classification system but the hope would be for trusts to capture the themes of incidents which have been identified following a review of numerous trusts' datasets. </p>

</div>

<p >Many thanks goes to the following trusts for supporting this project by sharing their datasets. This draft dataset would have not been possible without everyone's input</p>
<ul class="well-lg">
    <li >Avon and Wiltshire Partnership Mental Health Trust </li>
    <li >Birmingham and Solihull Mental Health NHS Foundation Trust</li>
    <li >Bradford District Care Trust</li>
    <li >Calderstone Partnership NHS Foundation Trust</li>
    <li >Devon Partnership NHS Trust</li>
    <li >Dorset Healthcare University NHS Foundation Trust</li>
    <li >Dudley and Walsall Mental Health Partnership NHS Trust</li>
    <li >Leicestershire Partnership NHS Trust</li>
    <li >North Staffordshire Combined Healthcare NHS Trust</li>
    <li >Northumberland, Tyne and Wear NHS Foundation Trust</li>
    <li >Nottinghamshire Healthcare NHS Trust</li>
    <li >Pennine Care NHS Fonudation Trust</li>
    <li >Rotherham Doncaster and South Humber NHS Foundation Trust</li>
    <li >South Staffordshire and Shropshire Healthcare NHS Foundation Trust</li>
    <li >Southern Health NHS Foundation Trust</li>
    <li >Staffordshire and Stoke on Trent Partnership NHS Trust</li>
    <li >Worcestershire Health and Care NHS Trust</li>
</ul>
