@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>BSMHFT Governance Intelligence Team</h3>

<address>
    Haider Al-Delfi<br />
    Acting Head of Governance Intelligence<br />
    Birmingham and Solihull Mental Health NHS Foundation Trust <br /> 
    <abbr title="Phone"><span class="glyphicon glyphicon-phone"></span> 0121 301 1283</abbr> <br />
    <abbr>LinkedIn: </abbr><a href="https://uk.linkedin.com/in/haideraldelfi">https://uk.linkedin.com/in/haideraldelfi</a>
    
</address>

<address>
    <strong>For queries:</strong> <span class="glyphicon glyphicon-envelope"></span> <a href="mailto:haider.al-delfi@bsmhft.nhs.uk">haider.al-delfi@bsmhft.nhs.uk</a><br />
   
</address>
